<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>About</title>

	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="barStyle.css" th:href="@{/barStyle.css}" />
	<link rel="stylesheet" href="aboutStyle.css" th:href="@{/aboutStyle.css}" />
</head>

<body>

	<div class="w3-bar">
		<a href="home" class="w3-bar-item w3-button w3-padding-16">Home</a>
		<a href="about" class="w3-bar-item w3-button w3-padding-16">About</a>
		<a href="select-movie" class="w3-bar-item w3-button w3-padding-16">Movies</a>
		<a href="movie-details" class="w3-bar-item w3-button w3-padding-16">Movie Details</a>

		<div th:if="${loggedInUser != null}">
			<a href="profile" class="w3-bar-item w3-button w3-padding-16 w3-right"><span
					th:text="${loggedInUser.name}"></span></a>
			<a href="logout" class="w3-bar-item w3-button w3-padding-16 w3-right">Logout</a>
		</div>

		<div th:if="${loggedInUser == null}">
			<a href="register" class="w3-bar-item w3-button w3-padding-16 w3-right">Register</a>
			<a href="login" class="w3-bar-item w3-button w3-padding-16 w3-right">Login</a>
		</div>
	</div>

	<br>

	<h1 style="color:white; text-align:center; font-weight:bold; margin-top: -20px">About</h1>

	<div class="container">
		<p style="color:white">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet tempus leo, vitae bibendum leo.
			Curabitur id sollicitudin diam. Praesent vel faucibus purus. Mauris mattis malesuada velit, ac facilisis
			velit. Integer tristique luctus iaculis. Ut ut consectetur lectus, nec vestibulum tortor. Duis aliquam
			ligula massa, ac efficitur sapien elementum eleifend.
			<br><br>
			Pick the date and showtime that suits you best, and select your preferred seat—all in just a few clicks.
			Whether you're planning a fun outing with friends, a family movie night, or a solo cinema experience, we
			are here to provide you with the best experience possible and don't forget to have fun!
			<br><br>
			With a strong focus on innovation, we take pride in introducing advanced cinema technologies like IMAX,
			bringing our audience closer to the action than ever before. Our offerings ensure maximum comfort while
			our state-of-the-art digital transformation has made us a pioneer in the cinema industry.
			<br><br>
			Join us in redefining the future of cinema and bringing the joy of movies to all!
		</p>
	</div>

	<h1 style="color:white; text-align:center; font-weight:bold">Contact</h1>

	<div class="container">
		<p style="color:white">

			Have any questions or need assistance? We’d love to hear from you!
			<br><br>
			Feel free to reach out to us through the contact details below:
			<br><br>
			Email: support@cineplex.com<br>
			Phone: +1 (800) 123-4567<br>
			Address: 1234 Hollywood Blvd, Los Angeles, CA 90028, USA
			<br><br>
			For inquiries regarding reservations, showtimes, or any technical support, our team is available to
			assist you. We look forward to hearing from you!
		</p>
	</div>

	<br>
</body>

</html>