<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="barStyle.css" th:href="@{/barStyle.css}" />
	<link rel="stylesheet" href="registerStyle.css" th:href="@{/registerStyle.css}" />
</head>

<body>
	
	<div th:if="${registerSuccess}">
        <script>
            alert("[[${registerSuccess}]]");
        </script>
    </div>

	<div class="w3-bar">
		<a href="home" class="w3-bar-item w3-button w3-padding-16">Home</a>
		<a href="about" class="w3-bar-item w3-button w3-padding-16">About</a>
		<a href="select-movie" class="w3-bar-item w3-button w3-padding-16">Movies</a>
		<a href="movie-details" class="w3-bar-item w3-button w3-padding-16">Movie Details</a>

		<div th:if="${loggedInUser != null}">
			<a href="profile" class="w3-bar-item w3-button w3-padding-16 w3-right"><span th:text="${loggedInUser.name}"></span></a>
			<a href="logout" class="w3-bar-item w3-button w3-padding-16 w3-right">Logout</a>
		</div>

		<div th:if="${loggedInUser == null}">
			<a href="register" class="w3-bar-item w3-button w3-padding-16 w3-right">Register</a>
			<a href="login" class="w3-bar-item w3-button w3-padding-16 w3-right">Login</a>
		</div>
	</div>

	<div class="container">
		<h1>Login</h1>

		<label th:text="${dataError}" style="color: rgb(255, 87, 87); font-size:18px; margin-top: -20px"></label>
		
		<form th:action="@{login}" method="post">
			<label>Email <span style="color: rgb(255, 87, 87);">*</span><span th:text="${emailEmptyError}" style="color: rgb(255, 87, 87); font-size:16px ;margin-top: -20px"></span></label>
			<input type="email" name="email" class="textarea" placeholder="Enter your email"/><br>
			<label>Password <span style="color: rgb(255, 87, 87);">*</span><span th:text="${passwordEmptyError}" style="color: rgb(255, 87, 87); font-size:16px ;margin-top: -20px"></span></label>
			<input type="password" name="password" class="textarea" placeholder="Enter your password"/><br>
			<button type="submit">Login</button>
		</form>

		<p class="footer">Don't have an account? <a href="register">Register</a></p>
	</div>
</body>

</html>