body {
    font-family: Arial, sans-serif;
   	height: 100vh;
	margin: 0;
    background-color: #2c2f36;
    color: #2c2f36;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #3a3f47;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}